# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
# PyTorch model
*.pt
# Virtual environment
venv/
env/

# VSCode editor
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
